Package: myrpc-client
Version: 1.0
Section: net
Priority: optional
Architecture: amd64
Maintainer: xamfry
Description: myRPC client utility
    Console client for sending remote commands to myRPC server.
